baseurl: https://yuukoamamiya.github.io
languageCode: zh-cn
theme: hugo-theme-stack
paginate: 5
title: Yuko's Blog

# Change it to your Disqus shortname before using
disqusShortname: yukoamamiya

googleAnalytics: UA-173973679-1

# Theme i18n support
# Available values: en, fr, id, ja, ko, pt-br, zh-cn
DefaultContentLanguage: zh-cn

hasCJKLanguage: true

permalinks:
    post: /p/:slug/
    page: /:slug/

params:
    mainSections:
        - post
    featuredImageField: image
    rssFullContent: true
    favicon: https://img.amamiyayuuko.com/20210127185955.ico


    footer:
        since: 2016
        customText:

    dateFormat:
        published: Jan 02, 2006
        lastUpdated: Jan 02, 2006 15:04 MST

    sidebar:
        emoji:
        subtitle: 这就是我的立场。
        avatar:
            enabled: true
            local: true
            src: img/avatar.png

    article:
        math: false
        toc: false
        readingTime: true
        license:
            enabled: true
            default: Licensed under CC BY-NC-SA 4.0

    comments:
        enabled: true
        provider: disqus
        disqusjs:
            shortname: yukoamamiya
            apiUrl: https://disqus.amamiyayuuko.com/api/
            apiKey: W4tjEgaiCuVivojE9FEf43urT1YnfX0KzTkmdbYyMsfL2ZG3dDKZvsybWqkDgJUh
            admin: yukoamamiya
            adminLabel:



    widgets:
        homepage:
            - type: search
            - type: archives
              params:
                  limit: 5
            - type: categories
              params:
                  limit: 10
            - type: tag-cloud
              params:
                  limit: 10
        page:
            - type: toc

    opengraph:
        twitter: 

            site: surreproduction

            # Available values: summary, summary_large_image
            card: summary_large_image

    defaultImage:
        opengraph:
            enabled: false
            local: false
            src:

    colorScheme:
        # Display toggle
        toggle: true
        
        # Available values: auto, light, dark
        default: auto

    imageProcessing:
        cover:
            enabled: true
        content:
            enabled: true

### Custom menu
### See https://docs.stack.jimmycai.com/configuration/custom-menu.html
### To remove about, archive and search page menu item, remove `menu` field from their FrontMatter
menu:
    main: []

    social:
        - identifier: zhihu
          name: 知乎
          url: https://www.zhihu.com/people/yu-gong-you-zi-chu
          params:
              icon: brand-bing

        - identifier: douban
          name: 豆瓣
          url: https://www.douban.com/people/147743842/
          params:
              icon: brand-disqus

        - identifier: rss
          name: Rss
          url: https://yuukoamamiya.github.io/index.xml
          params:
              icon: rss

